#p1{
    font: oblique;
    font-weight: 100; 
    font-size: medium;

}

#apertar{
    font: oblique;
    margin-top: auto;
    font-weight: 100;
    background-color: blue;
    color:black ;
}

#copy_right_footer{
    background-color: blue;
    width: 400px;
    font-size: medium
    line-height
    text-shadow
}